:root {
  --gap: 3rem;
  --gap-list: 2rem;
  --color-white: #ffffff;
  --primaty-color: #0a1128;
  --max-width: 120rem;
  --max-width-small: 80rem;
  --font-title: "Montserrat", system-ui;
  --font-text: "Open Sans", system-ui;
  --container-images: 36rem;
}
/*

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1,
h2 {
  font-size: 6rem;
  font-weight: 70rem;
}

h3 {
  font-size: 3rem;
  font-weight: 70rem;
}

.h1-margin {
  margin: 0 0 5rem 0;
}

p {
  font-size: 2.3rem;
}

.p-margin {
  margin: 0 0 3rem 0;
}
.section-main {
  min-height: 100vh;
  margin: 0 auto;
}
.section-main-background {
  background-image: url("/assets/img/section-background.svg");
  background-size: cover;
}

.section-main-background-black {
  background: rgba(0, 0, 0, 0.2);
}

.section-main-max-width {
  max-width: var(--max-width);
}

.section-main-max-width-small {
  max-width: var(--max-width-small);
}

.main-page {
  margin: 0 auto;
  font-size: 2rem;
}
.menu {
  width: 100vw;
  height: 6rem;
  background: var(--color-white);
  position: fixed;
  margin: 0 auto;
  z-index: 1;
}
.content-menu {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--gap) 0 var(--gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primaty-color);
}
.content-menu h1 {
  font-family: var(--font-title);
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.content-menu h1 a {
  text-decoration: none;
  color: #0a1128;
}
.content-menu nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content-menu nav ul li {
}
.content-menu nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #0a1128;
  padding: 0 var(--gap-list) 0 var(--gap-list);
}

.logo {
  color: var(--color-white);
}
.logo .section-logo {
  padding: 5rem 3rem 11rem 3rem;
}
.logo .content-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo .content-intro .content-intro-text {
  width: 50%;
  margin: var(--gap) 0;
}
.logo .content-intro .content-intro-text h1 {
  margin: 0 0 5rem 0;
}
.logo .content-intro .content-intro-text p {
  margin: 0 0 3rem 0;
}
.logo .content-intro .content-intro-img {
  width: 100%;
}

.intro {
  background: var(--color-white);
}
.intro .section-intro {
  padding: var(--gap);
}
.intro .section-intro .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 8rem;
}

.intro .section-intro .intro-content article > h1 {
  text-align: center;
}
.intro .section-intro .intro-content article > p {
  text-align: center;
}

.top3 .section-top3 {
  padding: 8rem 3rem;
  color: var(--color-white);
}
.top3 .section-top3 .content-top3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.top3 .section-top3 .content-top3 .content-header {
  margin: 0 0 8rem 0;
}
.top3 .section-top3 .content-top3 .content-header > h2 {
  text-transform: uppercase;
  margin: 0 0 2rem 0;
}
.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--gap);
  list-style: circle;
}

.content-grid h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.content-grid article:nth-child(1) h3::before {
  content: "1";
  display: block;
  font-size: 8rem;
  font-weight: 700;
  font-style: italic;
  transform: rotate(5deg);
  margin: 0 2rem 0 1rem;
}
.content-grid article:nth-child(2) h3::before {
  content: "2";
  display: block;
  font-size: 8rem;
  font-weight: 700;
  font-style: italic;
  transform: rotate(5deg);
  margin: 0 2rem 0 1rem;
}

.content-grid article:nth-child(3) h3::before {
  content: "3";
  display: block;
  font-size: 8rem;
  font-weight: 700;
  font-style: italic;
  transform: rotate(5deg);
  margin: 0 2rem 0 1rem;
}

.top3 .section-top3 .content-top3 .content-grid article h3 {
}
.gallery {
  background: var(--color-white);
}

.gallery .section-gallery {
  padding: 8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-gallery {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header-gallery {
  margin-bottom: 8rem;
}

.header-gallery h2 {
  margin-bottom: 2rem;
}
.header-gallery p {
  margin-bottom: 3rem;
}
.grid-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;
}

.gallery-images {
  overflow: hidden;
  max-width: var(--container-images);
  max-height: var(--container-images);
}

img {
  max-width: 100%;
  height: auto;
}

.work {
  padding: 0 var(--gap) var(--gap) var(--gap);
  color: var(--color-white);
}

.work .section-work {
  padding: 8rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-work h2 {
  text-transform: uppercase;
  padding-bottom: 8rem;
}

.pricing {
  background: var(--color-white);
  padding: 0 var(--gap) var(--gap) var(--gap);
}
.contact {
  padding: 0 var(--gap) var(--gap) var(--gap);
}
