:root {
  --gap: 3rem;
  --gap-list: 2rem;
  --color-white: #ffffff;
  --primaty-color: #0a1128;
  --max-width: 120rem;
  --font-title: "Montserrat", system-ui;
  --font-text: "Open Sans", system-ui;
}
/*

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: 6rem;
  font-weight: 70rem;
}

.h1-margin {
  margin: 0 0 5rem 0;
}

p {
  font-size: 2.3rem;
}

.p-margin {
  margin: 0 0 3rem 0;
}
.section-main {
  min-height: 100vh;
  margin: 0 auto;
}
.section-main-background {
  background-image: url("/assets/img/section-background.svg");
  background-size: cover;
  background-position: center center;
}

.section-main-max-width {
  max-width: var(--max-width);
}

.main-page {
  margin: 0 auto;
  font-size: 2rem;
}
.menu {
  width: 100vw;
  height: 6rem;
  background: var(--color-white);
  position: fixed;
  margin: 0 auto;
}
.content-menu {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--gap) 0 var(--gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primaty-color);
}
.content-menu h1 {
  font-family: var(--font-title);
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.content-menu h1 a {
  text-decoration: none;
  color: #0a1128;
}
.content-menu nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content-menu nav ul li {
}
.content-menu nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0 var(--gap-list) 0 var(--gap-list);
}

.logo {
  padding: 5rem 3rem 11rem 3rem;
  color: var(--color-white);
}
.logo .content-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo .content-intro .content-intro-text {
  width: 100%;
  margin: var(--gap) 0;
}
.logo .content-intro .content-intro-text h1 {
  margin: 0 0 5rem 0;
}
.logo .content-intro .content-intro-text p {
  margin: 0 0 3rem 0;
}
.logo .content-intro .content-intro-img {
  width: 100%;
}

.intro {
  background: var(--color-white);
}

.intro .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 8rem;
}

.intro .intro-content article > h1 {
  text-align: center;
}
.intro .intro-content article > p {
  text-align: center;
}

.top3 {
  padding: var(--gap);
}
.gallery {
  background: var(--color-white);
  padding: var(--gap);
}

.work {
  padding: var(--gap);
}

.pricing {
  background: var(--color-white);
  padding: var(--gap);
}
.contact {
  padding: var(--gap);
}
